{% extends "base.html" %}
{% block title %}SIA{% endblock %}
{% block content %}
<html>
<body>
  <form class="form-inline" action="{{ url_for('search') }}" method="post">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="tags" name="sbar">
      <script>
          $( function() {
            var availableTags = [
                {% for city in cities %}
                    "{{city}}",
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
              source: availableTags
            });
          } );
          </script>
    <button class="btn btn-light my-sm-0" type="submit">Search</button>
  </form>
  </body>
</html>
{% endblock %}